/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Header */



.logo {
    float: left;
    margin-left: 20px;
}


.logo a {
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: white;
}

.logo a:hover {
    color: blue;
}



.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 40px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }

  .menu a:hover {
    color: blue;
  }

  /* The code for the hamburger menu was sourced from https://alvarotrigo.com/blog/hamburger-menu-css/ */
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  

/* Hero Image */

.hero {
   
    height: 95vh;
    width: 100%;
    background-image:url('https://media.discordapp.net/attachments/1046505637170913320/1046893659313946684/DBXV_futuristic_cyberpunk_london_8d645b4b-4089-4371-b009-a7be96c84357.png?width=1365&height=1365');
    background-position: center;
    background-size: cover;
    background-color: grey ;
    
}

 

/* Page info */

.info {
    position: relative;
    top: 80vh;
    left: 45px;
    max-width: 600px;
    color: #fff;
    background-color: transparent;
    font-weight: bold;
}

.info p {
    letter-spacing: .1rem;
    text-align: center;
    margin: 0 5rem;
}

/* AI Art*/

.ai-text {
    text-align: center;

}

.ai-container {
    width: 90%;
    max-width: 1100px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}


.ai-one {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('https://media.discordapp.net/attachments/1046505637170913320/1046887547650965574/DBXV_medieval_spaceship_bb68a5cc-56a8-47e4-83ec-e493916da781.png');
    border-radius: .30em;
    margin-left: .5rem;
    background-size: cover;
    background-position: center;
    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: ai-one-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     }
    
    
    /* Creates the level of zoom for hero image */
    @keyframes ai-one-zoom {
        from{
            transform: scale(0.5);
        }
        to{
            transform: scale(1);
        }
    }

.ai-two {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('https://media.discordapp.net/attachments/1046505637170913320/1056403218952880168/DBXV_cyberpunk_silver_surfer_367c2942-8d39-4d83-ab15-42c34f2ca2d4.png');
    border-radius: .30em;
    background-size: cover;
    background-position: right;
    animation-name: ai-two-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     }
    
    
    /* Creates the level of zoom for hero image */
    @keyframes ai-two-zoom {
        from{
            transform: scale(0.5);
        }
        to{
            transform: scale(1);
        }
    }


.ai-three {
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url('https://media.discordapp.net/attachments/1046505637170913320/1046834280162136115/DBXV_black_man_walking_on_sun_f4907e45-ef78-48a4-85fd-23c22ff63640.png?width=1365&height=1365');
    border-radius: .30em;
    margin-right: .5rem;
    background-size: cover;
    background-position: top;
    animation-name: ai-three-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     }
    
    
    /* Creates the level of zoom for hero image */
    @keyframes ai-three-zoom {
        from{
            transform: scale(0.5);
        }
        to{
            transform: scale(1);
        }
    }


/* Gaming */

.games-text {
    text-align: center;
}

/* Video */

iframe.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.30em;
  animation-name: iframecenter-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
     }
    
    
    /* Creates the level of zoom for hero image */
    @keyframes iframecenter-zoom {
        from{
            transform: scale(0.5);
        }
        to{
            transform: scale(1);
        }
    }




/* Footer */

footer {
    background: black;
    padding: 1em;
}

.footer-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.footer-nav li {
    margin: 0 10px;
    font-size: 1.8em;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.footer-nav a:hover {
    color: blue;
}

.footer-bottom {
    background: #C0C0C0;
    width: 100%;
    padding: 40px;
}

.footer-bottom p {
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
}

.footer-bottom a {
    text-decoration: none;
    color: grey;
}

.text-input {
    background: transparent;
    color: #BFB7B6;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #BFB7B6;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #fff;
}

/* Back to top button*/

#myBtn {
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: black; 
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}
/* Contact section */

.contact {
    margin: 10px 10% 0 0;
    color: #fff;
    background-color: #75737321;
    max-width: 300px;
    position: absolute;
    left: 10%;
    top: 20%;
    padding: 20px;
}

.contact>h2 {
    color: black;
    margin-bottom: 20px;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: black;
    color: white;
    display: block;
}

.submit-button:hover {
    background-color: grey;
    color: blue;
}

/* Media queries */

@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: grey;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
   
  /* Gallery Images */
  .aione{
    width: 100%;;
   object-fit: contain;
   border-radius: 40em;

   }

   .aitwo{
    width: 100%;
    object-fit: contain;
   border-radius: 40rem;


   }